body{
    font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "Hiragino Sans GB", STXihei, "华文细黑", "WenQuanYi Micro Hei", "文泉驿微米黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, 'Helvetica Neue', Helvetica, Tahoma, Arial, 'Hiragino Sans GB', STXihei, 华文细黑, 'WenQuanYi Micro Hei', 文泉驿微米黑, 'Microsoft YaHei', 微软雅黑, SimSun, 宋体, Heiti, 黑体, sans-serif;
    font-weight: 500;
    color: #00B5AD;
}

#sidebar-toggler{
    font-size: 30px;
    background-color:rgba(0, 0, 0, 0.4);
    border-radius: 0 5px 5px 0;
    z-index: 1;
    position: absolute;
    margin-top: 20px;
    margin-left: 2px;
}

#sidebar-toggler:hover{
    background-color:rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.sidebar .portrait{
    padding: 10px 0px 10px 80px;
}

.sidebar .portrait img{
    width: 100px;
    height: 100px;
}

.sidebar .alipay{
    padding: 10px 0px 10px 55px;
}
.sidebar .alipay img{
    width: 150px;
    height: 150px;
}

#sidebar-menu a{
    color: #00B5AD;
    line-height: 20px;
    font-size: 18px;
    text-align: center;
}

#sidebar-menu a:hover{
    cursor: pointer;
}
.sidebar .contact{
    color: #999999;
    text-align: center;
    font-size: 16px;
}

.banner{
    top: 0px;
}

.banner img{
    width: 100%;
}

.post{
    padding-bottom: 20px;
}
.post .post-header{
    text-align: center;
    word-break:break-all;
    dispaly: block;
}
.post .post-header a{
    color: #807f83;
    border-color: #807f83;
    font-size: 55px;
}

.post .post-date, .post-detail .post-detail-date{
    text-align: center !important;
    font-size: 14px;
    line-height: 20px;
    color: #67666a;
}

.post .post-intro{
    font-size: 18px;
    color: #424143;
}

.post .post-intro p a{
    color: #00B5AD;
}

.post .post-footer{
    text-align: center;
}

.post .post-footer a{
    font-style: italic;
    font-size: 15px;
}

.post .divider{
    color: #00B5AD;
}

.post-detail{
    font-size: 18px;
}

.post-detail ul li{
    list-style: none;
}

.post-detail .post-detail-header{
    text-align: center;
    word-break:break-all;
    color: #00B5AD;
    border-color: #807f83;
    font-size: 55px;
    dispaly: block;
}

.post-detail .post-detail-date{
    font-size: 16px;
}

.post-detail .post-detail-content p{
    border-radius: 5px;
    padding: 10px;
}

.post-detail .post-detail-content p.intro, p.wrap{
    background-color: #fdf6e3;
    border: 2px solid #ffffff;
}

.post-detail .post-detail-content p.quote{
    font-style: italic;
    text-indent: 2em;
    font-size: 22px;
    color: #999999;
}

.post-detail .post-detail-content p.note{
    color: #D95C5C !important;
}

span.highlight{
    color: #c7254e;
    background: transparent;
    font-size: 19px;
    font-weight: 500;
}

.post-detail img{
    border: 2px solid #fdf6e3;
    border-radius: 5px;
}

.post-detail div.highlight{
    background: transparent;
}

.post-detail div.highlight pre{
    border-radius: 5px;
    background-color: #2d2d2d;
    border: 1px solid #ffffff;
}

.post-detail div.highlight pre code{
    background-color: #2d2d2d;
}

.ui.horizontal.divider.green:after, .ui.horizontal.divider.green:before{
    border-top-color: #00B5AD;
}

.category .category-header{
    word-break: break-all;
    color: #00B5AD;
    border-color: #807f83;
    font-size: 30px;
    dispaly: block;
    padding-bottom: 10px;
}

.category {
    padding-bottom: 15px;
}

.category .category-post-list .category-post{
    border-bottom: 1px ridge #00B5AD;
}

.category .category-post-list .category-post{
    line-height: 40px;
}

.category .category-post-list .category-post a{
    color: #807f83;
}

.category .category-post-list .category-post .category-post-title{
    font-size: 18px;
    margin-bottom: 10px;
}

.category .category-post-list .category-post .category-post-date{
    float: right;
    font-size: 16px;
    color: #807f83;
}

blockquote{
    font-size: 18px;
    border-top: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}

figure.highlight{
    margin : 1em 5px;
}

figure.highlight pre{
    padding-bottom: 0px;
}

figure pre, figure pre code{
    color: #E07B53;
    background-color: #2d2d2d;
    border-radius: 5px;
}

div.highlight{
    margin : 0;
}

div pre, div pre code{
    color: #E07B53;
    background-color: #2d2d2d;
    border-radius: 5px;
}





