<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="{{site.url}}/vendor/jquery.js"></script>
<script src="{{site.url}}/vendor/semantic/semantic.js"></script>
<script src="{{site.url}}/scripts/home.js"></script>
<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?f2ca87e8d38025a07c01bc840d8b540d";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
</script>