<div class="ui floating sidebar">
    <div class="portrait">
        <img class="circular ui image" src="{{site.url}}/images/fighting.jpg">
    </div>
    <div id="sidebar-menu" class="ui divided list">
        <a class="item" href="/">Home</a>
        <a class="item" href="/categories.html">Categories</a>
        <a class="item">Tags</a>
        <a class="item">Notes</a>
        <a class="item">About</a>
        <a class="item" href="http://my.oschina.net/indestiny/blog" target="_blank">Old Posts</a>
    </div>
    <div class="ui horizontal icon divider green">
        <i class="angle inverted down icon"></i>
    </div>
    <div class="contact">
        haolin.h0@gmail.com
    </div>
    <div class="alipay">
        <img class="ui image" src="{{site.url}}/images/alipay.png">
    </div>
</div>
