<div class="row">
	<div class="two wide column"></div>
    <div class="twelve wide column">
    	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- top_ad -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-2512354990153831"
		     data-ad-slot="9993034908"
		     data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
    </div>
    <div class="two wide column"></div>
</div>