<div class="row" style="padding-bottom: 0;">
  	<div class="ui inverted top fixed menu">
  		<a class="item"></a>
  		<div class="right menu">
  			<a class="item" href="/" title="Home">
	        	<i class="inverted teal big home icon"></i>Home
	        </a>
	        <a class="item" href="/categories.html" title="Categories">
	        	<i class="inverted teal big tasks icon"></i>Categories
	        </a>
	        <a class="item" href="/feed.xml" type="application/rss+xml" rel="alternate" 
	        	title="Feed" target="_blank">
	        	<i class="inverted teal big feed icon"></i>Feed
        	</a> 
	        <a class="item" href="mailto:haolin.h0@gmail.com" target="_blank">
	        	<i class="inverted teal big mail icon"></i>Email
	        </a>
	        <a class="item" href="https://github.com/ihaolin" target="_blank">
	        	<i class="inverted teal big github icon"></i>Github
	        </a>
	        <a class="item"></a>
  		</div>
  	</div>
</div>   