<!DOCTYPE html>
<html lang="zh-CN">
        <head>
                {% include header.html %}
                {% include custom_header.html %}
        </head>
        <body>
        <div>
                {% include topnav.html %}   
                <div class="ui grid">
                        {% include banner.html %}
                        {% include top_ad.html %}       
                        <div class="row">
                                <div class="two wide column">
                                </div>
                                <div class="twelve wide column">
                                        {{ content }}
                                </div>
                                <div class="two wide column"></div>
                        </div>
                        {% include bottom_ad.html %}
                </div>
        </div>

        </body>
        {% include footer.html %}
</html>