<!DOCTYPE html>
<html lang="zh-CN">
        <head>
                {% include header.html %}
                {% include custom_header.html %}
        </head>
        <body>
        <div>    
                <div class="ui grid">  
                        {% include topnav.html %}   
                        {% include banner.html %} 
                        <div class="row">
                                <div class="two wide column">
                                </div>
                                <div class="twelve wide column">
                                        {{ content }}
                                </div>
                                <div class="two wide column">   
                                </div>
                        </div>
                </div>
                <div class="footer">
                    <div class="footer-beian" style="text-align: center;">
                      <a href="https://beian.miit.gov.cn/" target="_blank">蜀ICP备15031837号</a>
                    </div>
                </div>
        </div>
        </body>
        {% include footer.html %}


</html>