<!DOCTYPE html>
<html lang="zh-CN">
        <head>
                {% include header.html %}
                {% include custom_header.html %}
        </head>
        <body>
        {% include sidebar.html %}
        <div class="pusher">
                <span id="sidebar-toggler">
                        <i class="list icon"></i>
                </span>
                <div class="ui grid">
                        <div class="row">
                                <div class="two wide column">
                                </div>
                                <div class="twelve wide column">
                                        {{ content }}
                                </div>
                                <div class="two wide column"></div>
                        </div>
                        <div class="row">
                                {% include pagination.html %}
                        </div>
                </div>
        </div>

        </body>
        {% include footer.html %}
</html>